{% load static %}
<div class="flex column al-center"> 
	
	<!-- <div class="flex al-center">
		<img class="third auto" src="{% static 'media/exclaimation.png' %}" />
	</div> -->
</div>
<nav class="flex space-btwn mobile-column mobile-al-center header-styling"> 
	<h1 class="cream-text">YCCLA</h1>
	<a class="nav-button nav-button-first" href="{% url 'home:about' %}"><p>About</p></a>
	<a class="nav-button" href="{% url 'home:summer' %}"><p>Collections</p></a>
	<a class="nav-button" href="{% url 'home:recipes' %}"><p>Recipes</p></a>

	<!-- Theses lines of code will be used when the business expands to allow users to log in -->
	
	<!-- {% if request.user.is_authenticated %}
		{% if request.user.is_recipe_tester %}
			<a class="" href="{% url 'test-kitchen:list' %}"><h2>Test Kitchen</h2></a>
		{% endif %}
		<a class="" href="{% url 'account:view' user_id=request.user.id %}"><h2>My Profile</h2></a>
		<a class="" href="{% url 'logout' %}"><h2>Logout</h2></a>
	{% else %}
		<a class="" href="{% url 'login' %}"><h2>Login</h2></a>
		<a class="" href="{% url 'register' %}"><h2>Register</h2></a>
	{% endif %}	 -->
</nav>
