{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Order canceled</title>
{% endblock title%}

{% block body %}
    <div class="height-75vH">
        <div class="inlay-padding clay-border-three double-border-three bg-blue">
            <div class="openSmallDrawer flex column al-center clay-border-three">
                <div class="fifty-vw margin-bottom bg-cream clay-border-three">
                    <div class="flex column al-center padding">
                        <p>Keep looking around and come back later!</p>
                    </div>
                </div>
            </div>        
        </div>
    </div>
{% endblock body %}