{% extends 'base.html' %}

{% block body %}

<div class="page-height flex center al-center">
  <div class="double-border red-border">
    <form id="id_password_change_form" method="POST" class="flex column extra-padding red-border">
        {% csrf_token %}
        <h2 class="">Change password</h2>
        <input name="old_password" class="flex space-btwn baseline margin-top" placeholder="Old password" type="password" id="id_old_password" required="true">
        <input name="new_password1" class="flex space-btwn baseline margin-top" placeholder="New password" type="password" id="id_new_password1" required="true">
        <input name="new_password2" class="flex space-btwn baseline margin-top" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}

      <button id="id_submit_btn" class="stnd-bttn red-border padding margin-top" type="submit">Update</button>  
    </form>
  </div>
</div>


{% endblock %}