{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="flex margin-top space-btwn full-width">
    <div class="double-border bg-blue cream-border">
        <div class="prof-height prof-width flex column space-btwn padding bg-blue cream-border">
            <div>
                <h3 class="cream-text">{{fname}} {{lname}}</h3>
                <h4 class="cream-text margin-top">Email</h4>
                {%  if is_self %}
                    <p class="cream-text no-margin">{{email}}</p>
                {% else %}
                {% if hide_email %}
                    <p class="cream-text no-margin">**********</p>
                {% else %}
                    <p class="cream-text no-margin">{{email}}</p>
                {% endif %}
                {% endif %}
                <h4 class="cream-text margin-top">Username</h4>
                <p class="cream-text no-margin">{{username}}</p>
                <h4 class="cream-text margin-top">Bio</h4>
                <p class="cream-text no-margin">{{bio}}</p>
            </div>
            <!-- If Auth user is viewing their own profile -->
            {% if is_self %}
                <div class="flex column col-center">
                    <a  href="{% url 'account:edit' user_id=id %}"><button class="prof-bttn red-border padding margin-top">Update</button></a>
                    <a  href="{% url 'password_change' %}"><button class="prof-bttn red-border padding margin-top">Change password</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="flex column">
        <div class="flex space-btwn sixty">
            {% if user.is_recipe_tester %}
            <div class="tab-red flex al-center pointer">
                <h2 onClick={toggleTab(id)} id="postcards" class="no-margin">My Postcards</h2>
            </div>
            {% else %}
            <div class="tab-red flex al-center">
                <h2 class="no-margin">My Postcards</h2>
            </div>
            {% endif %}
            {% if user.is_recipe_tester %}
            <div class="tab-blue flex al-center pointer">
                <h2 onClick={toggleTab(id)} id="posts" class="no-margin">My Posts</h2>
            </div>
            {% endif %}
        </div> 
        <div class="red-border-three prof-tab-height column" id="postcards-tab">
            <div class="flex space-btwn">
                <div class="tab-red-left"></div>
                <div class="tab-red-right"></div>
            </div>
            <!-- CREATE FORM  -->
            <form class="flex padding space-btwn" method="POST">
                {% csrf_token %}
                <div class="flex column">
                    <div class="flex al-center">
                        <p class="flex space-btwn margin-top">Add to my collection: </p>
                        <select class="margin-left" name="recipe">
                            {% for recipe in recipes %}
                            <option>{{ recipe.title }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div class="flex baseline">
                        <label class="container">Sent
                            <input  
                                class="container-input"
                                type="checkbox"
                                name="sent"
                            >
                            <span class="checkmark"></span>
                        </label>
                            <p class="flex space-btwn baseline no-margin">Sent to:</p>
                            <input  
                                class="margin-left"
                                type="textarea"
                                name="sent_to"
                                placeholder="Please share your experience"
                            >     
                    </div>
                    <div class="flex baseline no-margin">
                        <label class="container">Received
                            <input  
                                class="container-input"
                                type="checkbox"
                                name="received"
                            >
                            <span class="checkmark"></span>
                        </label>
                        <p class="flex space-btwn baseline no-margin">Received from:</p>
                        <input  
                            class="margin-left"
                            type="text"
                            name="received_from"
                            placeholder="Please share your experience"
                        >    
                    </div>
                    <input  
                        value="{{request.user.pk}}"
                        type="hidden"
                        name="user"
                    >
                </div>
                <div class="flex flex-end">
                        <button class="prof-bttn red-border margin-top" type="submit">New Recipe Collected</button>
                </div>
            </form>
            <!-- UPDATE FORM  -->
            {% for postcard in postcards %}
            <form class="flex padding space-btwn">
                {% csrf_token %}
                <div class="flex column">                
                    <p class="HWT-small no-margin">{{ postcard.recipe }}</p>
                    <div class="flex baseline">
                        {% if postcard.sent %}
                        <label class="container">Sent
                            <input  
                                class="container-input"
                                type="checkbox"
                                name="sent"
                                checked
                            >
                            <span class="checkmark"></span>
                        </label>
                        {% else %}
                        <label class="container">Sent
                            <input  
                                class="container-input"
                                type="checkbox"
                                name="sent"
                            >
                            <span class="checkmark"></span>
                        </label>
                        {% endif %}
                        <p class="no-margin">Sent to: {{ postcard.sent_to}}</p>
                    </div>
                    <div class="flex baseline">
                        {% if postcard.received %}
                            <label class="container">Received
                                <input  
                                    class="container-input"
                                    type="checkbox"
                                    name="received"
                                    checked
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% else %}
                            <label class="container">Received
                                <input  
                                    class="container-input"
                                    type="checkbox"
                                    name="received"
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% endif %}
                        <p class="no-margin">Received from: {{ postcard.received_from }}</p>
                    </div>
                </div>
            </form>
            {% endfor %}            
        </div>
        <div>
            {% if request.user.is_recipe_tester %}
            <div class="bg-blue red-border-three prof-tab-height column" style="display: none"  id="posts-tab">
                <div class="flex space-btwn">
                    <div class="tab-blue-left"></div>
                    <div class="tab-blue-right"></div>
                </div>
                <div class="flex column cream-border padding">  
                    <div class="flex space-btwn  al-center">
                        <a  class="" href="{% url 'test-kitchen:create' %}"><button class="stnd-bttn red-border bg-cream padding margin-top">New Post</button></a>
                    </div>
                    {% for post in posts %}
                        {% if post.user.pk == user.pk %}
                        <div class="padding margin-top bg-cream red-border">
                            <div class="flex space-btwn">
                                <h2>{{ post.title }}</h2>
                                <p> {{ post.date }}</p>
                            </div>
                            <p> {{ post.post }}</p>
                            <a  href="../../test-kitchen/{{post.pk}}/update/"><button class="prof-bttn red-border padding margin-top">Edit post</button></a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}
