{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="margin-top cream-border double-border bg-blue">
        <div class="flex space-btwn padding cream-border">
            <img class="image-width image-height" src="{% static 'media/LexiAmpy.JPG' %}" />
            <div class="recipe-detail margin-top">
                <div class="bg-cream padding red-border">
                    <h1 class="margin-top HWT red-text">Welcome to our mailbox</h1>
                    <p>You Can Cook Literally Anything is a project by Lexi Adams and Ampersand Paris, two best-friends seperated by 1,413 miles. They grew up together in Lawrence, Kansas one illustrating and the other cooking and both obsessed with stationary and nice pens. You Can Cook Anything is a celebration of friendship across time and space with a collector's twist. Each pack of recipe-postcards contains seven recipe postcards and a cover card, all with unique illustrations. We invite you join our correspondance and send and receive these postcards with your pen pals, lovers, rivals, family, and friends. You can create an account and use this website to record your correspondance and keep track of your collection. Try and collect them all as we expand the collection of recipes and introduce guest chefs, shiny postcards, golden tickets, and more.</p>
                </div>
            </div>
        </div>        
    </div>
{% endblock body %}