{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="openDrawer inlay-padding clay-border-three double-border-three" style="background-color: {{ recipe.background_color }}; border-color: {{ recipe.secondary_color }}">
    <div class="flex column al-center clay-border-three" style="border-color: {{ recipe.secondary_color }}">
        <div class="fifty-vw margin-bottom bg-cream clay-border-three" style="border-color: {{ recipe.secondary_color }}">  
            <!-- Uncomment to make images available again -->
            
            <!-- <div class="flex space-btwn al-center">
                <img class="image-width image-height" src="/{{recipe.image}}" />
            </div> -->

            <div class="flex column padding space-btwn bg-cream">
                <h1 class="HWT"  style="color: {{ recipe.secondary_color }}">{{ recipe.title }}</h1>    
                <h2 class="garamond" style="color: {{ recipe.secondary_color }}">ingredients</h2>    
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li style="color: {{ recipe.background_color }} !important">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <h2 class="garamond margin-top" style="color: {{ recipe.secondary_color }}">directions</h2>    
                <ul>                        
                    {% for step in recipe.preparation %}
                        {% if forloop.counter == 1 %}
                            <p class="no-margin" style="color: {{ recipe.secondary_color }}">{{ forloop.counter }}. {{ step }}</p>
                        {% else %}
                            <p class="margin-top" style="color: {{ recipe.background_color }}">{{ forloop.counter }}. {{ step }}</p>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
	</div>
</div>

{% endblock body %}