{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="openDrawer inlay-padding clay-border-three double-border-three bg-blue">
    <div class="flex column al-center clay-border-three">
        <!-- This is is the search function for recipes -->

        <!-- <form method="post">
            {% csrf_token %}
            <input type="search" name="searched" placeholder="Search our recipes">
            <button class="prof-bttn red-border margin-top" type="submit">Search</button>
        </form> -->

        <div class="fifty-vw margin-bottom bg-cream clay-border-three">
            <div class="flex column al-center padding">  
                <h2 class="HWT clay-text">Recipes</h2> 
                {% if searched %}
                    {% if recipes %}
                    <p class="cream-text">Recipes including '{{ searched }}'</p>
                    {% for recipe in recipes %}
                        <div class="padding margin-top bg-cream red-border">
                            <div class="flex space-btwn">
                                <h2>{{ recipe.title }}</h2>
                            </div>
                            <a  class="" href="./{{recipe.pk}}/"><button class="prof-bttn red-border padding margin-top">Full Recipe</button></a> 
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="padding margin-top bg-cream red-border">
                        <div class="flex space-btwn">
                            <p>We are sorry, but no recipes match your search: {{ searched }}.</p>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    {% for recipe in recipes %}
                        <a  href="./{{recipe.pk}}/" class="recipe-index ninety padding margin-top" style="background-color: {{ recipe.background_color }}; border: 2px solid {{ recipe.secondary_color }}; box-shadow: 5px 5px 0px {{ recipe.secondary_color }}; border-radius: 5px;">
                            <h3 class="HWT" style="color: {{ recipe.secondary_color }}">{{ recipe.title }}</h3>  
                        </a> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}