{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="openDrawer inlay-padding clay-border-three double-border-three bg-blue">
        <div class="flex column al-center clay-border-three">
            <div class="fifty-vw margin-bottom bg-cream clay-border-three">
                <div class="flex column al-center padding">
                    <h2 class="HWT" style="color: #E58C87">summer series</h2>
                    <img class="image-width image-height"src="{% static 'media/SummerTitlePage.png' %}" />
                    <div class="forty-vw flex space-btwn margin-top">
                        <div class="flex column">
                            <h3 class="garamond" style="color: #E58C87">postcards</h3>    
                            <ul style="color: #76C498">
                                <li>Cover Card</li>
                                <li>Fried Green Tomatoes</li>
                                <li>Pickled Tomatoes</li>
                                <li>Buttermilk Dressing</li>
                                <li>Fried Green Tomato, Pickled Tomato Sandy</li>
                                <li>Pesto</li>
                                <li>Brown Rice and Caramelized Peach Milk</li>
                                <li>Garlic Scapes with Mint</li>
                            </ul>
                        </div>
                        <div class="flex column margin-left">
                            <h3 class="garamond" style="color: #E58C87">details</h3>    
                            <ul style="color: #76C498">
                                <li style="color: #E58C87">$20</li>
                                <li >8 4x6 postcards</li>
                                <li >Postage not included</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock body %}