{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="flex margin-top space-btwn">
    <div class="flex double-border bg-blue cream-border">
        <div class="prof-height flex column space-btwn padding bg-blue cream-border">
            <div>
                <h3 class="cream-text">{{request.user.fname}} {{request.user.lname}}</h3>
                <h4 class="cream-text margin-top">Email</h4>
                <p class="cream-text no-margin">{{request.user.email}}</p>
                <h4 class="cream-text margin-top">Username</h4>
                <p class="cream-text no-margin">{{request.user.username}}</p>
                <h4 class="cream-text margin-top">Bio</h4>
                <p class="cream-text no-margin">{{request.user.bio}}</p>
            </div>
        </div>
    </div>
    {% if request.user.is_recipe_tester %}
    <div class="cream-border double-border bg-blue">
        <div class="prof-post-view flex column bg-blue cream-border padding">  
            <div class="flex space-btwn  al-center">
                <h2 class="cream-text">Test Kitchen Posts</h2> 
                <a  class="" href="{% url 'test-kitchen:create' %}"><button class="stnd-bttn red-border bg-cream padding margin-top">New Post</button></a>
            </div>
            {% for post in posts %}
                <div class="padding margin-top bg-cream red-border">
                    <h2>{{ post.title }}</h2>
                    <p> {{ post.date }} | {{ post.user.username }}</p>
                    <p> {{ post.post }}</p>
                </div>
            {% endfor %}
    {% endif %}
        </div>
	</div>

</div>

{% endblock body %}